.goods{
    display: flex;
    justify-content: center;
    .title{
        padding: 120px 0;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
    }
    .card-wrapper{
        max-width: 1040px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 25px;
        padding-bottom: 80px;
    }
}