@import './_mixin.scss';
@import './_variables.scss';

$base-font-size:44px;
$base-color:rgb(116, 204, 204);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #000;
    color: #fff;
}
.app{
  max-width: 1920px;
  margin: 0 auto;
}
ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .container {
    max-width: $mv + px;
    margin: 0 auto;
    padding: 16px 20px !important;
    @media (max-width: $md1) {
      max-width: 970px;
    }
    @media (max-width: $md2) {
      max-width: 750px;
    }
  }
  .header-nav{
    position: fixed;
    left: 0;
    right: 0;
    transition: .9s;
  }
  .header-nav.hide {
    transform: translateY(-500%);
  }

  .header-nav{
    grid-area: header;
  }

  .app{
    display: grid;

    .header-nav{
      grid-area: header;
    }
    .first-screen{
      grid-area: first;
    }

    .new-season{
      grid-area: new-season;
    }
    .collection{
      grid-area: collection;
    }
    .goods{
      grid-area: goods;
    }
    .our-brands{
      grid-area: our-brands;
    }
    .footer{
      grid-area: footer;
    }
    .last-lane{
      grid-area: last-lane;
    }
    grid-template-areas: 
      'header header'
      'first first'
      'new-season new-season'
      'collection collection'
      'goods goods'
      'our-brands our-brands'
      'footer footer'
      'last-lane last-lane'
    ;
  }