.new-season{
    display: flex;
    .left-side{
        min-height: 730px;
        width: 65%;
        .title{
            margin-top: 93px;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
        }
        .card-wrapper{
            margin-top: 100px;
            gap: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .right-side{
        min-height: 730px;
        width: 45%;
        background: url(../assets/images/new-season.jpg) no-repeat;
        .content-wrapper{
            padding-top: 560px;
            display: flex;
            flex-direction: column;
            gap: 36px;
            .title{
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                text-transform: uppercase;
            }
            .button-group{
                display: flex;
                justify-content: center;
            }
        }
    }
}
.new-season{
    @media (max-width: 1080px){
        flex-direction: column-reverse;
        gap: 36px;
        .left-side,.right-side{
            width: 100%;
        }
        .right-side{
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}