.top-lane{
    background-color: #000;
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    &_left-side{
        display: flex;
        gap: 24px;
        .phone-wrapper{
            display: flex;
            align-items: center;
            gap: 8px;   
            img{
                margin-top: 3px;
            }
        }
    }
    &_right-side{
        display: flex;
        cursor: pointer;
        gap: 16px;
        img{
            margin-top: 3px;
        }
    }
}
